[submodule "packages/jiku:visualizers"]
	path = packages/jiku:visualizers
	url = file:///Volumes/Data/Dev/Libraries/Meteor/jiku:visualizers/.git
	ignore = dirty
[submodule ".meteor/local/webpack-npm/node_modules/react-burger-menu"]
	path = .meteor/local/webpack-npm/node_modules/react-burger-menu
	url = /Volumes/Data/Dev/Components/Menus/react-burger-menu/.git
