@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

footer.center {
  top: 87%;
}

footer div#social a.btn span {
  font-family: 'jikutypeVector';
  font-size: 2px;
  text-transform: lowercase;
}

.btn {
  clear: both;
  white-space: nowrap;
  font-size: .9em;
  display: inline-block;
  border-radius: .6em;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.btn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,
.btn-icon > i {
  padding: .3em 1.5em;
}
.btn > span,
.btn > span:after,
.btn-icon > i {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.btn > span {
  padding: 0px 4em;
  white-space: nowrap;
  color: #FFF;
  background: #b8b8b8;
  display: block;
  position: relative;
}

.btn:hover > span {
  background: #b8b8b8;
}

.btn:focus > span {
  background: #9a9a9a;
}

.btn-icon > i {
  position: relative;
  text-align: center;
  font-size: 2em;
  color: #fff;
}

.btn > span:after {
  bottom: 100%;
	left: 50%;
	border: 1.5em solid;
	content: "";
	position: absolute;
  border-color: transparent transparent #97f transparent;
	margin-left: -1.5em;
}

.btn-icon:hover > i,
.btn-icon:focus > i {
  color: #FFF;
}

.btn-icon > span {
  border-radius: 0em 0em 4em 4em;
}

/*Facebook*/

.btn-facebook:hover > i,
.btn-facebook:focus > i {
  color: #3b5998;
}

.btn-facebook:hover > span {
  background: #3b5998;
}

/*Twitter*/

.btn-twitter:hover > i,
.btn-twitter:focus > i {
  color: #55acee;
}

.btn-twitter:hover > span {
  background: #55acee;
}

/*Google*/

.btn-google-plus:hover > i,
.btn-googleplus:focus > i {
  color: #dd4b39;
}

.btn-google-plus:hover > span {
  background: #dd4b39;
}

/*YouTube*/

.btn-youtube:hover > i,
.btn-youtube:focus > i {
  color: #dd4b39;
}

.btn-youtube:hover > span {
  background: #dd4b39;
}

/*SoundCloud*/

.btn-soundcloud:hover > i,
.btn-soundcloud:focus > i {
  color: #ff7700;
}

.btn-soundcloud:hover > span {
  background: #ff7700;
}

/*LinkedIn*/

.btn-linkedin:hover > i,
.btn-linkedin:focus > i {
  color: #007bb6;
}

.btn-linkedin:hover > span {
  background: #007bb6;
}

/* Overrides above */

.btn:hover > i,
.btn:focus > i {
  color: #97f;
}

.btn > span {
  background: #97f;
  color: #eee;
}

.btn:hover > span,
.btn:focus > span {
  background: #eee;
  color: #000;
}

.btn:hover > span:after,
.btn:focus > span:after {
  border-color: transparent transparent #eee transparent;
}
