*,
*:after,
*::before
  box-sizing border-box

.container
  padding 80px

.bt-menu
  position fixed
  top 0
  left 0
  width 100%
  height 0
  border-width 0px
  border-style solid
  border-color #000
  background-color rgba(0,0,0,0)
  backface-visibility hidden
  transition border-width 0.3s, background-color 0.3s, height 0s 0.3s
  &.bt-menu-open
    height 100%
    border-width 0px 0px 90px 0px
    background-color rgba(0,0,0,0.3)
    transition border-width 0.3s, background-color 0.3s
    ul
      height 90px
      transition none
      li
        opacity 1
        transform translate3d(0,0,0)
  ul
    position fixed
    bottom 0px
    left 0
    margin 0
    padding 0
    width 100%
    list-style none
    text-align center
    white-space nowrap
    height 0
    transition height 0s 0.3s
    li
      display inline-block
      margin 0 2%
      width 10%
      height 90px
      line-height 90px
      opacity 0
      transition transform 0.3s, opacity 0.3s
      transform translate3d(0,100%,0)
      a
        display block
        outline none
        font-family 'jikutypeVector'
        text-decoration none
        text-transform lowercase
        font-size 4px
        transition color 0.2s
        i
          font-size 8em
        &:before
          display none

.bt-overlay
  position absolute
  width 100%

.bt-menu-open
  .bt-overlay
    height 100%
  .bt-menu-trigger
    span
      background-color #97f
      opacity 0
      transition transform 0.3s, opacity 0.3s
      &:before
        transform translateY(-350%)
      &:after
        transform translateY(350%)

.bt-menu-trigger
  position fixed
  bottom 22px
  left 50%
  z-index 100
  display block
  margin-left -25px
  width 50px
  height 50px
  cursor pointer
  span
    position absolute
    top 50%
    left 0
    display block
    width 100%
    height 8%
    background-color #777
    font-size 0px
    transition background-color 0.3s
    user-select none
    &:before
      transform translateY(-250%)
    &:after
      transform translateY(250%)

.bt-menu-trigger span:before,
.bt-menu-trigger span:after
  position absolute
  left 0
  width 100%
  height 100%
  background #777
  content ''
  transition transform 0.3s, background-color 0.3s

.bt-menu-open .bt-menu-trigger span:before,
.bt-menu-open .bt-menu-trigger span:after
  background-color #97f

.bt-menu ul li,
.bt-menu ul li a
  text-align center
