@import url(http://fonts.googleapis.com/css?family=Lato)

/* TODO: Use base_uri var? */
@font-face
  font-family jikutypeVector
  src:
    url('/again/jikutype-001-Vector.woff2') format('woff2'),
    url('/again/jikutype-001-Vector.woff') format('woff')

@require 'vars.styl'

html, body
  margin 0
  padding 0
  width auto

body
  background-color #000

// #static
//   position fixed
//   z-index 500
//   width 100%
//   height 100%

a
  transition color .1s .1s

a, a:hover, a:active, a.active
  text-decoration none

a, a:visited
  color linkColor

a:hover, a:active, a.active
  color highlightColor
  background-size 100% 100%

// // FOR CONTENT IN 100% CONTAINER
// .center
//   text-align center
//   position relative
//   top 50%
//   transform translateY(-50%)
//
//   cursor pointer
//
// .invisible
//   visibility hidden !important
//   opacity 0 !important
//
// .visible
//   visibility visible !important
//   opacity 1 !important
//
// .fadein
//   animation fadein 4s linear forwards
//
// .fadeout
//   animation fadeout 4s linear forwards

// @keyframes fadeinout
//   0%, 100%
//     opacity 0
//   50%
//     opacity 1
//
// @keyframes fadein
//   0%
//     opacity 0
//   100%
//     opacity 1
//
// @keyframes fadeout
//   0%
//     opacity 1
//   100%
//     opacity 0

// #header, h1, h2, h3, h4, h5, h6
//   font-family 'jikutypeVector'

// #header
//   opacity .5
//   font-size 2em
//   color #fff
//
// subheader, .box
//   font-family 'Lato', 'Menlo', sans-serif
//   font-size 1em
//   color #bbb

// .disable-scroll
//   overflow hidden
//   scrollbar none
//
// .disable-selection
//   user-select none
//
// .disable-clicks
//   pointer-events none

// .fullBox
//   width 100vw !important
//   min-width 100vw !important
//   max-width 100vw !important
//   height 100vh !important
//   min-height 100vh !important
//   max-height 100vh !important
//   margin auto
//   padding auto
//   border 1px
//   border-color #f00
//
// #pane
//   position fixed
//   z-index 0
//   pointer-events: none
//
// #particles
//   position fixed
//   z-index 200
//   pointer-events none
