@import url(http://fonts.googleapis.com/css?family=Lato)

/* TODO: Use base_uri var? */
@font-face
  font-family jikutypeVector
  src:
    url('/again/jikutype-001-Vector.woff2') format('woff2'),
    url('/again/jikutype-001-Vector.woff') format('woff')

// TODO: Not sure I need to import these? Meteor takes care of it?
@require 'vars.styl'
// @require 'links.styl'
// @require 'interact.styl'
// @require 'transition.styl'
// @require 'text.styl'

html, body
  margin 0
  padding 0
  width auto

body
  background-color #000

// #static
//   position fixed
//   z-index 500
//   width 100%
//   height 100%

// // FOR CONTENT IN 100% CONTAINER
// .center
//   text-align center
//   position relative
//   top 50%
//   transform translateY(-50%)
//
//   cursor pointer
//

// .fullBox
//   width 100vw !important
//   min-width 100vw !important
//   max-width 100vw !important
//   height 100vh !important
//   min-height 100vh !important
//   max-height 100vh !important
//   margin auto
//   padding auto
//   border 1px
//   border-color #f00
//
// #pane
//   position fixed
//   z-index 0
//   pointer-events: none
//
// #particles
//   position fixed
//   z-index 200
//   pointer-events none
