@require 'vars.styl'

a
  transition color .1s .1s

a, a:hover, a:active, a.active
  text-decoration none

a, a:visited
  color linkColor

a:hover, a:active, a.active
  color highlightColor
  background-size 100% 100%
