.bert-alert
  background none !important

.bert-alert[class*="growl-"]
  .bert-content h5
    font-family "jikutypeVector"
    font-size 2px
    text-transform lowercase

  .bert-content p
    font-family "jikutypeVector"
    font-size 2px
    text-transform lowercase
